/* #registrationForm {
    background-color: #F5DEB3;
    color:  F5DEB3;
} */
 
body {
    background-color:  #F5DEB3;
}

.form-cotainer{

    background-color:  #F5DEB3;
    border: 1px solid black

}
/* form {
    background-color:  blue;
}  */